<!DOCTYPE html>
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]><!--> <html class="no-js"> <!--<![endif]-->
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <title>myZapy</title>
        <meta name="description" content="">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="">
    </head>  
    <body>
        <!--[if lt IE 7]>
            <p class="browsehappy">You are using an <strong>outdated</strong> browser. Please <a href="#">upgrade your browser</a> to improve your experience.</p>
        <![endif]-->
        <h1>Home</h1>
        <p>
            <a href="/">HOME </a><br>
            <a href="/login">LOGIN </a><br>
            <a href="/register">REGISTER </a><br>
            <a href="/chat">CHAT </a><br>
        </p>
        <div id="add-contact-div">
            <h1>Adicionar Contato</h1>
            <form id="add-contact-form">
                <p>
                    <input type="text" name="contact" placeholder="Nome do contato">
                    <input type="submit" value="Adicionar">
                </p>    
            </form>
        </div>
        
        <br><hr><br>
        <div id="contacts">
            <h1>Contatos</h1>
        </div>
        <br><hr><br>
        <div id="chat">
            <h1>Chat</h1>
        </div>
        
        <script src="https://unpkg.com/axios/dist/axios.min.js"></script>
        <script src="/views/home/home.js"></script>
    </body>
</html>